FILES_USERNAME=prototype
FILES_PASSWORD=GENERATE_A_RANDOM_LOCAL_TOKEN_BEFORE_USE
FILES_PORT=18085
FILES_MEDIA_DIR=media
FILES_OUTPUT_DIR=output
FILES_SOURCE_AUDIO=../../examples/ejercicio_1.opus
FILES_FFMPEG_TIMEOUT_SECONDS=60
FILES_AUDIO_BITRATE=128k
